snippet err "if err != nil"
if err != nil {
	${1}
}
endsnippet


snippet errf "if err != nil"
if err != nil {
	${1}fmt.Errorf("${2}: %w",${3} err)
}
endsnippet


snippet debug "print + scanln"
fmt.Printf("here ${1}\n"${2});
fmt.Scanln()
endsnippet
